 body{
    overflow-x: hidden;
}
 .div1{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 30px;
    display:grid;
    grid-template-columns: 15% 35% 1fr 1fr 1fr 1fr;
 }
 .h1-1{
    grid-column: 1;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 22px;
    line-height: 68px;
    letter-spacing: 0px;
    margin-left:50px;
 }
.st1{
   grid-column: 3;
   width: 150px;
   height: 50px;
   border-radius: 40px;
   opacity: 1;
   margin-top: 20px;
   border-color: blue;
   background-color: white;
   padding-left:25px ;
   font-size:large;
}
.h5-1{
   width: 200px;
   font-size: 17px;
   margin-top: 30px;
   font-family: Montserrat;
   font-weight: 400;
   font-size: 16px;
   line-height: 142%;
   letter-spacing: 0px;
   margin-left: 50px;
}
.h5-2{
   margin-left: 50px;
    width: 200px;
   font-size: 17px;
   margin-top: 30px;
   font-family: Montserrat;
   font-weight: 400;
   font-size: 16px;
   line-height: 142%;
   letter-spacing: 0px;
}
.h5-3{
    width: 200px;
   font-size: 17px;
   margin-top: 30px;
   font-family: Montserrat;
   font-weight: 400;
   font-size: 16px;
   line-height: 142%;
   letter-spacing: 0px;
   position: relative;
   left:-10px;
}
.div2{
   padding-left:50px;
   position: absolute;
   top:60px;
   left:0px;
   width:45%;
   height: 675px;
}
.h1-2{
   width: 100%;
   font-size: 90px;
   line-height:90px;
  /* font-family:;*/
}
.p1{
   width: 340px; 
   /*font-family: ;*/
   line-height: 25px; 
   margin-top:-30px ;
   margin-bottom: 30px; 
}
.btn{
   width: 150px;
   height: 50px;
   border-radius: 40px;
   background-color: blue;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h5-4{
   position: relative;
   left:170px;
   top:-70px;
   line-height: 20px;
}
.div3{
   position: absolute;
   top:70px;
   right: 0px;
   width: 65%;
   height: 665px;
}
.img{
   width: 100%;
   height: 100%;
}
.div4{
   width: 94%;
   height: 870px;
   background-color: white;
   position: relative;
   top:720px;
   left:3%;
   border-radius: 40px;
   box-shadow: 0px 0px 2px 2px rgb(185, 185, 183);
}
.divr{
   background-color: white;
   width:100%;
   height: 90%;
   position: relative;
   top:10px;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
   display: grid;
   grid-template-columns: 30px 1fr 20px 1fr 30px;
   grid-template-rows: 1fr 30px 1fr 30px 1fr 50px;
}
.kr1{
   background-color: whitesmoke;
   grid-column: 2;
   grid-row: 1;
   width:100%;
   height: 100%;
   position: relative; 
   border-radius: 20px; 
}
.kr2{
   background-color: whitesmoke;
   grid-column: 4;
   grid-row: 1;
   width:100%;
   height: 100%;
   border-radius: 20px; 
   position: relative; 
}
.kr3{
   background-color: whitesmoke;
   grid-column: 2;
   grid-row: 3;
   width:100%;
   position: relative; 
   height: 100%;
   border-radius: 20px; 
}
.kr4{
   background-color: whitesmoke;
   grid-column: 4;
   grid-row: 3;
   width:100%;
   position: relative; 
   height: 100%;
   border-radius: 20px; 
}
.kr5{
   background-color: whitesmoke;
   grid-column: 2;
   grid-row: 5;
   width:100%;
   height: 100%;
   position: relative;
   border-radius: 20px; 
}
.kr6{
   background-color: whitesmoke;
   grid-column: 4;
   grid-row: 5;
   width:100%;
   height: 100%;
   position: relative; 
   border-radius: 20px; 
}
.h2-1{
   position: relative;
   top:40px;
   left:30px;
}
.th{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   padding-top: 5px;
   padding-left: 5px;
   width: 95px;
   height: 20px;
   font-size: small;
   font-family: 'Courier New', Courier, monospace;
   position: relative;
   top:-35px;
   left:30px;
   background-color: rgb(237, 237, 237);
   color: rgb(151, 150, 150);
}
.img2{
  position: absolute;
  top:0px;
  right: 0px;
  height: 100%;
}
.div4 h1{
   position: relative;
   top:20px;
   left:30px;
   font-size: 40px;
}
.div5{
   width: 100%;
   height: 700px;
   position: relative;
   top:800px;
}
.h1-4{
   position: relative;
   left:50px;
   top:30px;
}
.sch{
   width:100%;
   height: 65%;
   position: absolute;
   bottom: 20%;
   display: grid;
   grid-template-columns: 50px 1fr 20px 1fr 20px 1fr 20px 1fr 50px;
   grid-template-rows: 1fr 20px 1fr 20px 1fr;
}
.net1{
   border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
   background-color: white;
   grid-column: 2;
   grid-row: 1;
}
.net2{
  background-color: white;
   grid-column: 2;
   grid-row: 3;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.net3{
background-color: white;
   grid-column: 2;
   grid-row: 5;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.skill1{
   background-color: white;
   grid-column: 4;
   grid-row: 1;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.skill2{
   background-color: white;
   grid-column: 4;
   grid-row: 3;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.skill3{
   background-color: white;
   grid-column: 4;
   grid-row:5;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.cour1{
   background-color: white;
   grid-column: 6;
   grid-row: 1;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.cour2{
   background-color: white;
   grid-column: 6;
   grid-row: 3;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.cour3{
   background-color: white;
   grid-column: 6;
   grid-row: 5;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.geek1{
   background-color: white;
   grid-column: 8;
   grid-row: 1;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.geek2{
   background-color: white;
   grid-column: 8;
   grid-row:3;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.geek3{
   background-color: white;
   grid-column: 8;
   grid-row: 5;
    border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.net{
   width: 60%;
   margin-left:20%;
   margin-top:60px;
}
.skill{
   width: 50%;
   margin-left:25%;
   margin-top:50px;
}
.cous{
   width: 60%;
   margin-left:20%;
   margin-top:60px;
}
.geek{
   width: 60%;
   margin-left:20%;
   margin-top:60px;
}
.div6{
   width: 100%;
   height: 650px;
   position: relative;
   top:730px;
}
.jk{
   position: absolute;
   width: 100%;
   height: 600px;
   bottom: 0px;
   display: grid;
   grid-template-columns: 50px 1fr 20px 1fr 20px 1fr 50px;
}
.phy1{
   position: relative;
   background-color: white;
   grid-column: 2;
   border-radius: 20px;
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
.phy2{
   position: relative;
   box-shadow: 0px 0px 3px 3px whitesmoke;
   border-radius: 20px;
   background-color: white;
   grid-column: 4;
}
.phy3{
   position: relative;
   box-shadow: 0px 0px 3px 3px whitesmoke;
   border-radius: 20px;
   background-color: white;
   grid-column: 6;
}
.imgpy{
   width: 100%;
}
.pro{
   position: relative;
   top:-200px;
   left: 60px;
   background-color: whitesmoke;
   width: 115px;
   height: 20px;
   padding-top:5px ;
   padding-left: 15px;
   font-size: small;
   border-radius: 10px;
}
.phyt{
   position: relative;
   top:-225px;
   left: 250px;
   background-color: whitesmoke;
   width: 60px;
   height: 20px;
   padding-top:5px ;
   padding-left: 20px;
   font-size: small;
   border-radius: 10px;
}
.skillb{
   position: relative;
   top:-250px;
   left: 350px;
   background-color: whitesmoke;
   width: 60px;
   height: 20px;
   padding-top:5px ;
   padding-left: 20px;
   font-size: small;
   border-radius: 10px;
}
.btnr{
   background-color: rgb(92, 92, 253);
   color: white;
   position: absolute;
   bottom: 0px;
   width: 100%;
   height: 60px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}
.txt{
   width: 95%;
   height: 332px;
   position: absolute;
   bottom: 60px;
   left: 5%;   
}
.txt h3{
   position: relative;
   top:-5px;
}
.txt .p6{
   position: relative;
   top:-10px;
}
.p7{
   position: relative;
   top:-15px;
}
.txt .p8{
   position: relative;
   top:-15px;
}
.p9{
   position: relative;
   top:-15px;
}
.p10{
   position: relative;
   top:-30px;
}
.p11{
    position: relative;
    top:-25px;
}
.p12{
    position: relative;
    top:-42px;
}

.p13{
    position: relative;
    top:-57px;
}
.h1--1{
   position: relative;
   left:50px;
   top:-30px;
}
.slk1{
   position: absolute;
   right: 20px;
   top:-10px;
   border-color: white;
   background-color: white;
}
.div7{
   width: 100%;
   height: 580px;
   position: relative;
   top:820px;
   left:0px;
}
.fol{
   background-color: white;
   width: 1300px;
   height: 75%;
   position:absolute ;
   left:100px;
   top:15%;
   border-radius:30px;
   box-shadow: 0px 0px 2px 2px whitesmoke;
}
.img11{
   position: absolute;
   right: 0px;
   height: 100%;
}
.pl{
   width: 214px;
   position: absolute;
   top:50px;
   left: 86px;
   opacity: 1;
   border-top-left-radius: 11px;
   border-top-right-radius: 11px;
   border-bottom-right-radius: 11px;
   background-color: #d0f2e8;
   color: #43C59E;
   padding-left:40px ;
   padding-top: 10px;
   padding-bottom:10px ;
}
.h1--3{
   position: absolute;
   top:90px;
   left:80px;
}
.h1--4{
   position: absolute;
   top:140px;
   left:80px;
}
.imp{
   width: 240px;
   height: 62px;
   position: absolute;
   bottom: 50px;
   left:80px;
   font-size: large;
   padding-left: 50px;
   background-color: whitesmoke;
   border-color: white;
   border: 20px;
   border-radius:20px ;
}
.eml{
   background-color: blue;
   width: 200px;
   height: 62px;
   position: absolute;
   bottom: 50px;
   left:300px;
   border-radius:20px;
   z-index: 2;
}
.h4--1{
   position: absolute;
   left:50px;
   top:-5px;
   color:white;
   font-size: large;
}
.div8{
   position: relative;
   top:800px;
   width: 96%;
   width: 274;
   height: 420px;
   padding-left:100px ;
   padding-right: 100px;
   display: grid;
   grid-template-columns:1fr 30px 1fr 30px 1fr 30px 1fr ;
}
.pli1{
   border-radius: 20px;
   box-shadow: 0px 0px 2px 2px whitesmoke;
   grid-column: 1;
   width: 100%;
   height: 100%;
   background-color: white;
}
.pli2{
   
   border-radius: 20px;
   box-shadow: 0px 0px 2px 2px whitesmoke;
   grid-column: 3;
   width: 100%;
   height: 100%;
   background-color: white;
}
.pli3{
   
   border-radius: 20px;
   box-shadow: 0px 0px 2px 2px whitesmoke;
   grid-column: 5;
   width: 100%;
   height: 100%;
   background-color: white;
}
.pli4{
   border-radius: 20px;
   box-shadow: 0px 0px 2px 2px rgb(224, 222, 222);
   grid-column: 7;
   width: 100%;
   height: 100%;
   background-color: white;
}
.imgt{
   width: 100%;
   height: 40%;
}
.h2--2{
    font-family: Montserrat;
   font-weight: 900;
   font-size: 20px;
   width: 222px;;
   left: 56px;
   top:20px;
   position: relative;

}
.h3--3{
   top:20px;
   width: 227px;
   height: 54px;
   position: relative;
   left: 56px;
   opacity: 1;
   font-family: Montserrat;
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   letter-spacing: 0px;
   line-height: 25px;
}
.h3--4{
   top:40px;
   color: blue;
   left:56px;
   position: relative;
}
.div9{
   width: 90%;
   height: 300px;
   position: relative;
   top:840px;
   left:5%;
}
.h1---1{
   width: 131.9354705810547px;
   height: 22.238117218017578px;
   top: 0.6px;
   left: 0.08px;
   opacity: 1;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.end{
   position: absolute;
   right: -30px;
   top:0px;
}
.line{
   position:relative;
   top:180px;
}
.h2---1{
   position: absolute;
   top:160px;
}
.h2---2{
   position: absolute;
   top:160px;
   left:100px;
}
.h2---3{
   position: absolute;
   top:160px;
   left:250px;
}
.h2---6{
   position:absolute;
   bottom: 10px;
   color: rgb(179, 177, 177);
}
.h2---4{
   position: absolute;
   right: 400px;
   color: rgb(87, 85, 85);
   bottom: 10px;
}
.h2---5{
   position: absolute;
   bottom:10px;
   color: rgb(87, 85, 85);

   right: 0px;
}
